body {
  background-color: black;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  padding: 2rem;
  color: aquamarine;
  text-transform: uppercase;
}

.link {
  color: aquamarine;
  text-decoration: none;
}

.style {
  width: 25%;
  margin: auto;
}

input,
textarea {
  padding: 1rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

input:focus {
  outline-color: aquamarine;
}

.login-form {
  width: 100%;
}

.booking-form {
  width: 100%;
}

label {
  padding-left: 1rem;
}

button {
  background-color: aquamarine;
  padding: 1rem;
  border-radius: 1.5rem;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

button:hover {
  background-color: #93e9be;
}

.react-datepicker__calendar-icon {
  margin-top: 7px;
}

.react-datepicker__day--selected {
  background-color: aquamarine !important;
  color: black !important;
  border-radius: 2rem !important;
}

.react-datepicker__time-list-item--selected {
  background-color: aquamarine !important;
  color: black !important;
}

.react-datepicker__view-calendar-icon input {
  /* width: 100%; */
  margin-left: 0 auto;
  text-align: center;
}

/* nav styling */

.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

h1 {
  font-family: "Raleway", sans-serif;
  width: 25%;
  margin-left: 2rem;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  color: white;
  padding: 5rem;
  width: 30%;
  margin: 0 auto;
}

.lottie {
  width: 30%;
  margin: 0 auto;
}

/* Styling for mobile */

@media only screen and (max-width: 450px) {
  .style {
    width: 95%;
  }

  .title {
    width: 90%;
  }

  h1 {
    width: 75%;
  }

  h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    color: white;
    padding: 5rem;
    width: 50%;
    margin: 0 auto;
  }

  p {
    display: flex;
    justify-content: center;
  }

  .lottie {
    width: 60%;
  }

  input {
    padding: 1rem;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
  }
}
